/* Styles go here */
body {
  padding-top: 150px;
  font-family: arial;
}
.add {
  position: fixed !Important;
  z-index: 10;
  top: 0px;
left: 50%;
margin-left:-45%;
background: black;
}

.full {
background: #000;
width: 100%;
height: 130px;
position: fixed;
top: 0px;
z-index: 9;
}
.channel .logo img {
  width: 90%;
}
.channel [class^="col-"] {
  min-height: 9em;
}
.progress {
  background-color: green;
}
.progress .bar {
  background-color: #808080;
  background-image: none;
  outline: solid 1px white;
  height: 100%;
}
.logo {

}

.main .row:nth-child(2n) {
background-color: #4E4E4E;
margin-bottom: 1em;
padding: 5px 0px;
}

.resources {
 list-style: none;
  margin: 0px;
  padding: 0px;
}
.resources li {
  display: inline-block;
  margin: 0px 5px 0px 0px;
}

h5 {
  color: #808080;
}

/* EPG */
.epg {}
.epg .start {
  padding-right: 10px;
}
.epg tr:nth-child(2n) {
background-color: #4E4E4E;
}


.desc > div:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

/*.rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}*/

.progress:before {
content: attr(data-begin);
color: #FFF;
position: relative;
z-index: 10;
font-size: smaller;
left: 5px;
}

.progress:after {
content: attr(data-end);
color: #FF0;
position: absolute;
margin-top: -1.4em;
right: 20px;
}

.guidenetsidk {
    width: 320px;
    height: 50px;
}
@media(min-width: 500px) {
    .guidenetsidk {
        width: 468px;
        height: 60px;
    }
}
@media(min-width: 800px) {
    .guidenetsidk {
        width: 728px;
        height: 90px;
    }
}